.about__title {
    text-align: center;
}

.about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px 0px 10px;
}

.about__subtitle {
    color: #1c1c1c;
    font-size: 1.55rem;
    line-height: 1.1em;
    text-align: center;
    padding: 20px 0;
}

.about__text p {
    color: rgb(69, 69, 69);
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.2em;
    padding: 5px 0;
}

.about__image {
    width: 40%;
    float: right;
    margin: 20px 30px;
}

.about__image_desc {
    display: block;
}

.about__image_mobile {
    display: none;
}

.about__list li {
    padding: 3px 0;
    color: rgb(69, 69, 69);
    font-size: 1.3rem;
    line-height: 1.2em;
}

@media (max-width: 767.98px) {
    .about__subtitle {
        font-size: 1.4rem;
        padding: 15px 0;
    }

    .about__image {
        width: 90%;
        float: none;
        margin: 15px 0px;
    }

    .about__image_desc {
        display: none;
    }

    .about__image_mobile {
        display: block;
    }
}

@media (max-width: 479.98px) {
    .about__subtitle {
        font-size: 1.25rem;
    }
}

/*-----------------------------------------------*/