/*-----------------------------------------------*/

.services__description_item {
    display: none;
    padding: 10px;
    margin: 10px 0px;
}

.description_fix {
    display: block;
}

.description__item_title h3 {
    color: #1c1c1c;
    font-size: 1.5rem;
    line-height: 1.1;
    text-align: center;
    padding: 20px 0;
}

.description__item_img {
    float: right;
    width: 35%;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.desc__img {
    width: 100%;
    border-radius: 6px;
}

.description__item_text p {
    text-indent: 30px;
    color: rgba(28, 28, 28, 0.9);
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.2em;
    letter-spacing: 1.2;
}

@media (max-width: 767.98px) {
    .description__item_img {
        float: right;
        width: 50%;
    }

    .description__item_text p {
        font-size: 1.2rem;
    }
}

@media (max-width: 479.98px) {
    .description__item_body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .description__item_img {
        float: none;
        width: 90%;
        padding: 5px;
        margin: 10px 0px 0px 0px;
    }

    .description__item_text p {
        font-size: 1rem;
        line-height: 1.1em;
    }
}

/*-----------------------------------------------*/

.brend__item {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

.brend__item:last-child {
    margin-bottom: 0px;
}

.brend__title {
    text-align: center;
    color: #000000;
    font-size: 1.5rem;
    line-height: 1.1em;
    margin-bottom: 15px;
}

.brend__info {
    width: 60%;
}

.brend__info.brend__info_locks-model {
    width: 80%;
}

.brend__image {
    width: 100%;
}

.locks-model__list {
    max-width: 100%;
    max-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.locks-model__item {
    padding: 5px 20px 5px 15px;
    font-size: 1.3rem;
    line-height: 1.5em;
    font-weight: 600;
    position: relative;
}

.locks-model__item::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 25px;
    height: 25px;
    background: url("../img/lock.png") 0 0 no-repeat;
    background-size: 100%;
}

@media (max-width: 767.98px) {
    .locks-model__list {
        max-width: 100%;
        max-height: 350px;
    }

    .locks-model__item {
        max-width: 100%;
        margin: 5px 0;
        padding: 5px 20px 5px 15px;
        font-size: 1.2rem;
        line-height: 1.2em;
        font-weight: 600;
    }

    .brend__title {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .brend__info {
        width: 80%;
    }

    .brend__info.brend__info_locks-model {
        width: 80%;
    }
}

@media (max-width: 479.98px) {
    .locks-model__list {
        width: 100%;
        max-height: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .locks-model__item {
        padding: 0 0 0 15px;
    }

    .brend__info {
        width: 90%;
    }
}

/*-------------------------------------*/