@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sixing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-iner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inhetit;
  font-weight: 500;
}

/*-----------------------------------------------*/

body, html {
  font-size: 16px;
  font-weight: 600;
  font-family: Helvetica;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inhetit;
  font-weight: 600;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  max-width: 1188px;
  margin: 0 auto;
  padding: 0 10px;
}

.block {
  padding: 20px 0;
}

hr {
  height: 2px;
  border: 1px solid #fe6637;
}

a {
  color: #000000
}

.title {
  margin-bottom: 20px;
}

h2 {
  font-size: 2.3rem;
}

@media (max-width: 1023.98px) {
  h2 {
    font-size: 1.8rem;
  }
}

/*-----------------------------------------------*/

.header {
  color: #1c1c1c;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 7;
  position: fixed;
  left: 0;
  top: 0;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 12px 0px 5px 0px;
}

.header__container_t-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 10px 0;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__title_name {
  font-size: 2.1rem;
  letter-spacing: 1.1px;
}

.header__title_logo {
  width: 60px;
  height: 60px;
  background: url("../img/ico/favicon13.ico") 0 0 no-repeat;
  background-size: 100%;
  margin-right: 5px;
}

.header__title-logo {
  height: 60px;
}

.header__title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header__info {
  font-size: 1rem;
  letter-spacing: 1.1px;
}

.header__main-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.header__loc-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.header__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__loc span {
  margin-left: 8px;
}

.header__loc_ico {
  width: 25px;
  height: 25px;
  background: url("../img/location.svg") 0 0 no-repeat;
  background-size: 100%;
}

.header__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__time span {
  margin-left: 8px;
}

.header__time_ico {
  width: 25px;
  height: 25px;
  background: url("../img/clock.svg") 0 0 no-repeat;
  background-size: 100%;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__phone_messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 5px;
}

.header__phone_messenger {
  margin: 3px;
}

.messenger-link img {
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.header__phone_ico {
  width: 25px;
  height: 25px;
  background: url("../img/phone-call.svg") 0 0 no-repeat;
  background-size: 100%;
  margin-right: 5px;
}

.header__phone_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
}

.menu li {
  position: relative;
}

.parent {
  margin: 0px 10px 0px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu__list>li {
  margin-left: 100px;
}

.menu__link {
  font-size: 1rem;
  letter-spacing: 1.4px;
  color: #1c1c1c;
  text-transform: uppercase;
}

.menu__link:hover {
  text-decoration: underline;
  color: #fe6637;
}

.sub-menu__list {
  display: none;
  position: absolute;
  left: -130px;
  top: 10px;
  padding-top: 15px;
  min-width: 250px;
}

.sub-menu__list>li {
  background-color: #fe6637;
  padding: 5px 10px;
}

.sub-menu__link {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1.4px;
  color: #1c1c1c;
  padding: 5px 10px;
}

.sub-menu__link:hover {
  color: #ffffff;
}

.sub-menu__list.open {
  display: block;
}

.arrow {
  position: absolute;
  top: 2px;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.arrow.active {
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fe6637;
}

.header__phone a {
  color: #1c1c1c;
  font-size: 1.6rem;
}

.header__phone a:hover {
  color: #fe6637;
}

.header_hr {
  height: 1px;
}

@media (min-width: 1023.98px) {
  .header__phone_burger {
    display: none;
  }

  .header__messengers_burger {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .header_hr {
    display: none;
  }

  .header__containerMain {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__container_t-p {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 20px;
  }

  .header__loc-time {
    display: none;
  }

  .menu__body {
    overflow: auto;
    padding: 50px 0 20px 0;
    background-color: #000;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 50px 0 0 0;
    z-index: 6;
  }

  .menu__body:after {
    content: "";
    background-color: #000;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    height: 50px;
  }

  .header__menu {
    z-index: 7;
    margin: 0px;
  }

  .menu__body._active {
    opacity: 97%;
    visibility: visible;
    z-index: 7;
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .menu__link {
    color: #fff;
    font-size: 1.6rem;
  }

  .menu__list>li {
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .sub-menu__list {
    position: relative;
    left: 0px;
    top: -5px;
  }

  .sub-menu__list>li {
    background-color: transparent;
    padding: 5px 0px;
  }

  .sub-menu__link {
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: 1.4px;
    color: #fff;
    padding: 5px 10px;
  }

  .arrow {
    top: 7px;
    border-top: 10px solid #fff;
  }

  .arrow.active {
    border-bottom: 10px solid #fff;
  }

  li.header__messengers_burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0px;
  }

  .header__phone_burger {
    font-size: 2.2rem;
  }

  .icon-menu {
    position: relative;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 8;
  }

  .icon-menu span {
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .header__title_name {
    font-size: 1.75rem;
    letter-spacing: 1.1px;
  }

  .header__title_logo {
    width: 60px;
    height: 60px;
  }
}

._active span:first-child {
  background-color: #fff;
  top: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 3;
  width: 30px;
}

._active span:last-child {
  background-color: #fff;
  bottom: 8px;
  width: 30px;
  z-index: 3;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

._active .messenger-link img {
  border: none;
}

@media (max-width: 767.98px) {
  .header__container {
    padding: 12px 0px 5px 0px;
  }

  .header .container {
    padding: 0 10px;
  }

  .header__phone {
    margin-top: 5px;
  }

  .header__phone a {
    font-size: 1.4rem;
  }

  .header__containerMain {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__container_t-p {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 0px;
  }

  .header__title_logo {
    width: 45px;
    height: 45px;
    margin: 0px 5px 0px 0px;
  }

  .header__title_name {
    font-size: 1.7rem;
    letter-spacing: 1;
  }

  .header__info {
    font-size: 0.85rem;
    letter-spacing: 1;
  }

}

@media (max-width: 479.98px) {
  .icon-menu {
    width: 24px;
  }

  .header__phone {
    margin-top: 10px;
  }

  .header__title_logo {
    width: 40px;
    height: 40px;
    margin: 0px 5px 0px 0px;
  }

  .header__title-logo {
    height: 45px;
  }

  .header__title_name {
    font-size: 1.6rem;
    letter-spacing: 1;
  }

  .header__info {
    font-size: 0.75rem;
    letter-spacing: 1;
  }

  .header__phone a {
    font-size: 1.1rem;
  }

  .header__phone_messengers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 0px;
  }

  .header__phone_messenger {
    margin: 1px;
  }

  .messenger-link img {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 10px;
  }

  .header__phone_ico {
    width: 16px;
    height: 16px;
    background: url("../img/phone-call.svg") 0 0 no-repeat;
    background-size: 100%;
    margin-right: 5px;
  }

  .header__phone_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px;
  }
}

/*-----------------------------------------------*/

.main-inf {
  position: relative;
}

.main-inf__body {
  width: 100%;
  margin-top: 90px;
  padding: 130px 5px 70px 5px;

}

.title__row {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title__item {
  font-size: 4.4rem;
  line-height: 1.2em;
  letter-spacing: 1.2;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.90), 0 10px 10px rgba(0, 0, 0, 0.80);
  margin-bottom: 10px;
}

.title__loc {
  font-size: 2.5rem;
  line-height: 1.2em;
  letter-spacing: 1.1;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.90), 0 10px 10px rgba(0, 0, 0, 0.80);
}

.title__list_items li {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  padding: 0 0 0 36px;
  margin: 0 0 17px 0;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.90), 0 10px 10px rgba(0, 0, 0, 0.80);
  font-size: 1.6rem;
  line-height: 1.3em;
  letter-spacing: 1.2;
  position: relative;
}

.title__list_items li::before {
  content: '';
  width: 30px;
  height: 30px;
  left: -5px;
  position: absolute;
  background: url(../img/check.png) 0 3px no-repeat;
  background-size: 100%;
}

.main-inf__phone_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0 0 0;
}

/*-----------------------------------------------*/

.shine-button {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  color: #fe6637;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
  background: #fff;
}

.shine-button:before {
  content: "";
  background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .5)));
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.shine-button:hover {
  background: #fe6637;
  color: #fff;
  bottom: 3px;
  -webkit-box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
}

.shine-button:hover:before {
  left: 300px;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/*-----------------------------------------------*/

.main-inf__phone_number .shine-button {
  background: #fe6637;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.30);
}

@media (max-width: 1023.98px) {
  .title__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .main-inf__body {
    margin-top: 0;
    padding: 140px 5px 30px 5px;
  }

  .main-inf__phone_number {
    padding: 20px 0px 0px 0px;
  }

  .title__list {
    padding-top: 40px;
  }
}

@media (max-width: 767.98px) {
  .main-inf__body {
    margin-top: 0;
    padding: 200px 5px 30px 5px;
  }

  .title__item {
    font-size: 4.4rem;
    line-height: 1.2em;
  }

  .title__loc {
    font-size: 1.9rem;
  }

  .title__list li {
    font-size: 1.4rem;
  }

  .main-inf__phone_number {
    padding: 10px 0px 0px 0px;
  }
}

@media (max-width: 679.98px) {
  .main-inf__body {
    padding: 200px 5px 30px 5px;
  }

  .title__item {
    font-size: 3.4rem;
  }

  .title__loc {
    font-size: 1.9rem;
  }

}

@media (max-width: 479.98px) {
  .main-inf__body {
    padding: 170px 5px 30px 5px;
  }

  .title__item {
    font-size: 2.75rem;
    line-height: 1.1em;
  }

  .title__loc {
    font-size: 1.55rem;
  }

  .title__list li {
    font-size: 1.2rem;
  }

  .shine-button {
    font-size: 1.2rem;
  }
}

/*-----------------------------------------------*/

.about__title {
  text-align: center;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 10px 0px 10px;
}

.about__text {
  font-size: 1.4rem;
  font-weight: 500;
}

.about__text p {
  color: rgba(28, 28, 28, 1);
  text-align: justify;
  line-height: 1.3em;
  letter-spacing: 1.2;
  padding: 5px 0;
}

.about__image {
  width: 40%;
  float: right;
  margin: 20px 30px;
}

.about__text li {
  color: rgba(28, 28, 28, 1);
  line-height: 1.4em;
  letter-spacing: 1.1;
}

.about__text ul {
  padding: 10px 0px 10px 20px;
}

@media (max-width: 679.97px) {
  .about__text {
    font-size: 1.2rem;
  }

  .about__image {
    width: 100%;
    float: none;
    margin: 15px 0px;
  }

  .about__text ul {
    padding: 5px 0px 5px 20px;
  }
}

/*-----------------------------------------------*/

.services__problems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services__problems-title {
  color: #1c1c1c;
  font-size: 1.55rem;
  line-height: 1.1em;
  text-align: center;
  padding: 20px 0;
}

.services__problems-image {
  float: right;
  width: 40%;
  margin: 5px;
}

.services__problems-question li {
  color: rgba(28, 28, 28, 1);
  font-size: 1.4rem;
  line-height: 1.4em;
  letter-spacing: 1.1;
}

.services__problems_war {
  margin-top: 10px;
}

.services__problems__war_text p {
  text-indent: 30px;
  color: rgba(28, 28, 28, 0.9);
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.2em;
}

.services__problems__war_text .warn {
  color: #f00;
  font-size: 1.74rem;
}

@media (max-width: 1023.98px) {
  .services__item {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }
}

@media (max-width: 859.98px) {
  .services__problems_question li {
    font-size: 1.25rem;
    line-height: 1.3em;
  }

  .services__problems__war_text p {
    font-size: 1.2rem;
    line-height: 1.1em;
  }
}

@media (max-width: 767.98px) {
  .services__problems_title {
    font-size: 1.4rem;
    padding: 15px 0;
  }

  .services__problems_image {
    width: 100%;
    margin: 5px;
  }
}

@media (max-width: 479.98px) {
  .services__item {
    height: 200px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .services__problems_title {
    font-size: 1.25rem;
  }
}

/*-----------------------------------------------*/

.services__title {
  text-align: center;
}

.services__shine-button {
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
  padding: 5px 25px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(28, 28, 28, 0.9);
  border-radius: 8px;
  color: rgba(28, 28, 28, 1);
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.services__shine-button:before {
  content: "";
  background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .5)));
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.services__shine-button:hover {
  background: rgba(0, 0, 0, 0.2);
  bottom: 2px;
  -webkit-box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.30);
}

.services__shine-button:hover:before {
  left: 300px;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.services__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  margin: 0px;
}

.services__body_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 2px solid rgba(254, 102, 55, 0.8);
  border-radius: 8px;
  -webkit-box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.30);
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.30);
}

.services__body_f:hover {
  border: 0px solid rgba(254, 102, 55, 0.8);
}

.services__body_zam-lish {
  background: url("../img/zamena-lishinki2.jpg") center / cover no-repeat;
}

.services__body_yst-zam {
  background: url("../img/zamena-zamka.jpg") center / cover no-repeat;
}

.services__body_vsk-auto {
  background: url("../img/vskritie-auto.jpg") center / cover no-repeat;
}

.services__body_vsk-dveri {
  background: url("../img/vskritie-dveri1.jpg") center / cover no-repeat;
}

.services__body_vsk-zam {
  background: url("../img/open7.jpg") center / cover no-repeat;
}

.services__body_zam-zam {
  background: url("../img/ystanovka-zamkov.jpeg") center / cover no-repeat;
}

.ust-zam_page {
  background: url("../img/open1.jpg") center / cover no-repeat;
}

.zamen-zam_page {
  background: url("../img/ystanovka-zamkov.jpeg") center / cover no-repeat;
}

.vskr-dver_page {
  background: url("../img/vskritie-dveri1.jpg") center / cover no-repeat;
}

.vskr-avto_page {
  background: url("../img/car2.jpg") center / cover no-repeat;
}

.vskr-zam_page {
  background: url("../img/open7.jpg") center / cover no-repeat;
}

.zamen-lishin_page {
  background: url("../img/zamena-lishinki5.jpg") center / cover no-repeat;
}

.main_page {
  background: url("../img/open.jpg") center / cover no-repeat;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.services__body_title {
  margin-top: 10px;
}

.services__body_title {
  color: #1c1c1c;
  font-size: 1.55rem;
  line-height: 1.1em;
}

.services__items_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.services__item_grid.span-col-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2 / auto;
}

@media (max-width: 1023.98px) {
  .services__items_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .services__item_grid.span-col-2 {
    -ms-grid-column-span: 1;
    grid-column: span 1 / auto;
  }
}

@media (max-width: 479.98px) {
  .services__items_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

/*-----------------------------------------------*/

.all__phone_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ask {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  line-height: 1.25em;
}

/*-----------------------------------------------*/

.howWeWork {
  margin-top: 20px;
  background-color: rgba(254, 102, 55, 0.3);
}

.howWeWork__title {
  text-align: center;
}

.howWeWork__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.howWeWork__item {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.howWeWork__number {
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 50%;
}

.howWeWork__body {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.howWeWork__ico {
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.howWeWork__ico img {
  width: 125px;
}

.howWeWork__text {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.1em;
  letter-spacing: 1.2;
}

@media (max-width: 1023.98px) {
  .howWeWork__ico img {
    width: 110px;
  }

  .howWeWork__text {
    font-size: 1.1rem;
    line-height: 1.1em;
  }
}

@media (max-width: 859.98px) {
  .howWeWork__ico img {
    width: 100px;
  }

  .howWeWork__text {
    font-size: 1rem;
    line-height: 1.1em;
  }

  .howWeWork__number {
    font-size: 1.2rem;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 768.98px) {
  .howWeWork__row {
    margin-top: 15px;
  }

  .howWeWork__ico img {
    width: 90px;
  }

  .howWeWork__text {
    font-size: 1rem;
    line-height: 1.1em;
    letter-spacing: 1.2;
  }

  .howWeWork__number {
    font-size: 1.1rem;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 679.98px) {
  .howWeWork__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .howWeWork__body {
    width: 100%;
  }

  .howWeWork__item {
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .howWeWork__item:nth-child(2n) {
    margin-top: 150px;
  }

  .howWeWork__ico img {
    width: 110px;
  }

  .howWeWork__text {
    font-size: 1.2rem;
    line-height: 1.1em;
  }

  .howWeWork__number {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .howWeWork__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .howWeWork__item:nth-child(2n) {
    margin-top: 40px;
  }

  .howWeWork__item {
    width: 100%;
    padding: 0px;
    margin: 0 0 20px;
  }

  .howWeWork__ico img {
    width: 100px;
  }

  .howWeWork__text {
    font-size: 1.1rem;
    line-height: 1.1em;
  }
}

/*-----------------------------------------------*/

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
}

.price__title {
  text-align: center;
}

.price__subtitle {
  font-size: 0.7rem;
  text-align: justify;
  color: rgba(28, 28, 28, 0.8);
  width: 65%;
  margin: 0px 5px 10px 5px;
}

.price__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

table {
  border: 2px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.30);
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.30);
  margin-bottom: 17px;
  border-radius: 8px;
  width: 70%;
  font-size: 1.25rem;
  background: #fff;
  text-align: left;
}

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(254, 102, 55, 0.3);
}

tr:last-child {
  border-bottom: none;
}

th {
  color: rgba(28, 28, 28, 0.9);
  padding: 10px 17px;
}

tr th:last-child {
  min-width: 150px;
}

@media (max-width: 479.98px) {
  table {
    font-size: 1rem;
    width: 95%;
  }

  th {
    padding: 10px 10px;
  }

  tr th:last-child {
    min-width: 110px;
  }

  .price__subtitle {
    width: 90%;
  }
}

/*-----------------------------------------------*/

.excellence__title {
  width: 100%;
  text-align: center;
}

.excellence__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.excellence__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30%;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  -webkit-box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4), 0 5px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.exc__item_ico {
  min-width: 16%;
  background: url(../img/icon-checkmark.svg) 0 0 no-repeat;
  background-size: 100%;
  margin-top: 10px;
}

.exc__item_body {
  padding-left: 10px;
}

.exc__item_text {
  max-width: 100%;
  padding-right: 10px;
  text-align: justify;
  color: rgba(28, 28, 28, 0.9);
  font-size: 1.1rem;
  line-height: 1.1em;
  letter-spacing: 1.2;
}

.exc__item_title {
  color: #1c1c1c;
  font-size: 1.4rem;
  line-height: 1em;
  margin: 0 0 10px 0;
}

@media (max-width: 859.98px) {
  .excellence__item {
    max-width: 46%;
  }
}

@media (max-width: 679.97px) {
  .excellence__item {
    max-width: 80%;
  }
}

@media (max-width: 479.98px) {
  .excellence__item {
    max-width: 100%;
  }

  .exc__item_body {
    margin-bottom: 15px;
  }
}

/*-----------------------------------------------*/

.location__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.location__title {
  text-align: center;
}

.location__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
  width: 95%;
}

.location__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  min-width: 25%;
  padding: 5px;
}

.location__item_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 30px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.location__item_ico {
  width: 25px;
  height: 25px;
  background: url("../img/pin.svg") 0 0 no-repeat;
  background-size: 100%;
}

.location__item_title {
  color: #1c1c1c;
  font-size: 1.25rem;
}

.location__item_districts {
  padding: 10px;
  display: none;
}

.location__item_districts._vis {
  display: block;
}

.location__item_districts p {
  text-align: center;
  color: rgba(28, 28, 28, 0.8);
  font-size: 1.1rem;
  margin-bottom: 5px;
}

/*-----------------------------------------------*/

.footer {
  display: block;
  background-color: rgba(254, 102, 55, 1);
  width: 100%;
  margin-top: 20px;
  padding: 20px 0px 10px 0px;
}

.footer__item {
  padding: 0 10px 15px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__title_name {
  font-size: 2.2rem;
  letter-spacing: 1.1px;
}

.footer__title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__info {
  font-size: 1rem;
  letter-spacing: 1.1px;
}

.footer__main-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 10px;
}

.footer__loc span {
  margin-left: 8px;
}

.footer__loc_ico {
  width: 25px;
  height: 25px;
  background: url("../img/location.svg") 0 0 no-repeat;
  background-size: 100%;
}

.footer__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 18px;
  letter-spacing: 1.1px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__time span {
  margin-left: 8px;
}

.footer__time_ico {
  width: 25px;
  height: 25px;
  background: url("../img/clock.svg") 0 0 no-repeat;
  background-size: 100%;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer__phone_ico {
  width: 35px;
  height: 35px;
  background: url("../img/phone-call.svg") 0 0 no-repeat;
  background-size: 100%;
}

.footer__phone_block {
  margin-left: 6px;
}

.footer__menu_link {
  color: #1c1c1c;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.footer__menu_link:hover {
  text-decoration: underline;
}

.footer__menu_list {
  display: block;
  text-align: center;
}

.footer__menu_list li {
  margin-bottom: 15px;
}

.footer__menu_list li:last-child {
  margin-bottom: 0px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.footer__phone a {
  color: #1c1c1c;
  font-size: 2.2rem;
}

.footer__ask {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  line-height: 1.2em;
}

@media (max-width: 859.98px) {
  .footer__title_name {
    font-size: 1.9rem;
  }

  .footer__info {
    font-size: 0.9rem;
  }

  .footer__phone_ico {
    width: 25px;
    height: 25px;
    background: url("../img/phone-call.svg") 0 0 no-repeat;
    background-size: 100%;
  }

  .footer__phone_block {
    margin-left: 6px;
  }

  .footer__phone a {
    color: #1c1c1c;
    font-size: 1.75rem;
  }

  .footer__ask {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
    line-height: 1.4em;
  }

  .footer__menu_list li {
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {

  .footer__phone a {
    font-size: 1.5rem;
  }

  .footer__phone {
    padding: 10px 0;
  }

  .footer__ask {
    font-size: 0.8rem;
    line-height: 1.1em;
  }
}

@media (max-width: 679.97px) {
  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__contact {
    width: 100%;

    padding-bottom: 20px;
  }

  .footer__phone {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__menu {
    display: none;
  }
}

/*-----------------------------------------------*/

.services__description_item {
  display: none;
  padding: 10px;
  margin: 10px 0px;
}

.description_fix {
  display: block;
}

.description__item_title h3 {
  color: #1c1c1c;
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: center;
  padding: 20px 0;
}

.description__item_img {
  float: right;
  width: 35%;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.desc__img {
  width: 100%;
  border-radius: 6px;
}

.description__item_text p {
  text-indent: 30px;
  color: rgba(28, 28, 28, 0.9);
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.2em;
  letter-spacing: 1.2;
}

@media (max-width: 767.98px) {
  .description__item_img {
    float: right;
    width: 50%;
  }

  .description__item_text p {
    font-size: 1.2rem;
  }
}

@media (max-width: 479.98px) {
  .description__item_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .description__item_img {
    float: none;
    width: 90%;
    padding: 5px;
    margin: 10px 0px 0px 0px;
  }

  .description__item_text p {
    font-size: 1rem;
    line-height: 1.1em;
  }
}

/*-----------------------------------------------*/

.brend__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.brend__item:last-child {
  margin-bottom: 0px;
}

.brend__title {
  color: #1c1c1c;
  font-size: 1.55rem;
  line-height: 1.1em;
  margin-bottom: 20px;
}

.brend__info {
  width: 80%;
}

.brend__image {
  width: 100%;
}

.locks-model__list {
  width: 100%;
  max-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.locks-model__item {
  padding: 5px 20px 5px 15px;
  font-size: 1.3rem;
  line-height: 1.5em;
  font-weight: 600;
  position: relative;
}

.locks-model__item::before {
  content: '';
  position: absolute;
  left: -10px;
  width: 25px;
  height: 25px;
  background: url("../img/lock.png") 0 0 no-repeat;
  background-size: 100%;
}

@media (max-width: 767.98px) {
  .locks-model__list {
    width: 100%;
    max-height: 420px;
  }

  .locks-model__item {
    padding: 5px 20px 0px 15px;
  }

}

@media (max-width: 479.98px) {
  .locks-model__list {
    width: 100%;
    max-height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .locks-model__item {
    padding: 5px 20px 0px 15px;
  }
}

/*-------------------------------------*/

.sale-logo {
  position: absolute;
  top: 100px;
  right: 160px;
  width: 100px;
  height: 50px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-animation-name: sale;
  animation-name: sale;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes sale {
  0% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(-30deg) scale(0.9);
    transform: rotate(-30deg) scale(0.9);
  }

  100% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

}

@keyframes sale {
  0% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  50% {
    -webkit-transform: rotate(-30deg) scale(0.9);
    transform: rotate(-30deg) scale(0.9);
  }

  100% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

}

.salePromo__desc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.salePromo__image {
  width: 100%;
}

.sales__title {
  text-align: center;
}

.sales__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
}

.sales__subtitle {
  font-size: 1.6rem;
  line-height: 1em;
  text-align: center;
}

.sales__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 60%;
  margin: 20px 10px;
}

.sales__text {
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 500;
  text-align: justify;
}

@media (max-width: 1023.98px) {
  .sale-logo {
    top: 55px;
    right: 0px;
  }
}

@media (max-width: 767.98px) {
  .sale-logo {
    top: 110px;
    right: 10px;
  }

  .sales__block {
    width: 100%;
    padding: 15px 15px;
  }

  .sales__subtitle {
    font-size: 1.5rem;
  }

  .sales__img {
    min-width: 90%;
    margin: 20px 0px;
  }

  .sales__text {
    font-size: 1.1rem;
    line-height: 1em;
  }
}

@media (max-width: 479.98px) {
  .sale-logo {
    width: 85px;
    height: 40px;
    top: 90px;
  }

  .sales__block {
    width: 100%;
    padding: 10px 10px;
  }

  .sales__subtitle {
    font-size: 1.4rem;
  }

  .sales__img {
    min-width: 100%;
    margin: 10px 0px;
  }

  .sales__text {
    font-size: 1rem;
    line-height: 1.1em;
  }
}

/*--------------------------------------------*/

.phone-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
}

.phone-fixed__anim {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 51, 0);
  border-radius: 50%;
  z-index: 1;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-animation-name: phone-anim;
  animation-name: phone-anim;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

@-webkit-keyframes phone-anim {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }

}

@keyframes phone-anim {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }

}

.phone-fixed__link {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 51, 0);
  border-radius: 50%;
  z-index: 2;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-name: phone-fix;
  animation-name: phone-fix;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.phone-fixed__link::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 70%;
  height: 70%;
  background: url("../img/telephone-call.png") 0 0 no-repeat;
  background-size: 100%;
}

.phone-fixed:hover .phone-fixed__link,
.phone-fixed:hover .phone-fixed__anim {
  -webkit-animation-name: none;
  animation-name: none;
}

@-webkit-keyframes phone-fix {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

}

@keyframes phone-fix {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

}

@media (max-width: 1023.98px) {
  .phone-fixed {
    bottom: 20px;
    right: 20px;
  }
}
